*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.row{
    width: 1140px;
    margin: 0 auto;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-position: center;
    background-size: cover;
    height : 100vh;
}
.hero-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
h1,
h2 {    
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0px;
}
h1{
   margin-bottom: 20px;
    margin-top: 0;
    font-size: 240%;
    color: #fff;
    word-spacing: 3px;
}
h2{
    font-size:180%;
    text-align: center;
    word-spacing: 3px;
    margin-top: 50px;
       
}
h2:after {
    display: block;
    width : 100px;
    content :" ";
    height: 2px;
    margin: 0 auto;
    margin-top :30px;
    background-color: #e67e22;
}

h3{
    font-size: 110%;
    text-align: center;
    margin-top : 10px;
    text-transform: uppercase;
}
.btn:link, 
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s ;

}
.btn-full:link,
.btn-full:visited{
    border: 1px solid #e67e22;
    background-color: #e67e22;    
    color: #fff;

}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;

}
.btn:hover,
.btn:active{
    background-color: #cf6d17;
    
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #e67e22;

}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #e67e22;
    color: #fff;

}
.navigation {
    float:right;
    margin-top: 60px;
}

.image-logo {
    margin-top:20px;
    float:left;
    height: 150px;
    width: 150px;
}

.navigation li{
    display: inline-block;
    margin-left: 40px;
}

.navigation li a:link,
.navigation li a:visited {
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    color: #fff;    
    border-bottom: 1px solid transparent;

}

.navigation li a:hover,
.navigation li a:active{
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.4s;
}

.section-features {
    padding-top: 80px 0;
}

.long-text{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    text-align: center;
}

.box{
    padding : 15px;
}
.box p {
    margin-top :20px;
    text-align: left;
    line-height: 140%;
    padding :20px;
    font-size: 90%;
}
.custom-icon{
    font-size: 400%;
    color: #e67e22;
    display: block;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    width: 25%;   
    display: block;
    float:left;    
}
.meal-photo{
    width: 100%;
    margin: 0;
}
.meal-photo img{
    width: 100%;
    height: auto;
    
}